<!-- About Start -->
<div id="about" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute" src="/assets/img/online.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Sobre Nós</h6>
                <h1 class="mb-4">Bem vindos ao <br/><em>World Wide Courses</em></h1>
                <p class="mb-4">O <em>World Wide Courses</em> é um hub de cursos nas mais diversas áreas do conhecimento.</p>
                <p class="mb-4">Seja você um amador, profissional ou hobista, irá encontrar aqui os cursos que procura para potencializar suas capacidades.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-solid fa-user-tie text-primary me-2"></i>Instrutores Especialistas</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-solid fa-wifi text-primary me-2"></i>Aulas 100% Online</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-solid fa-certificate text-primary me-2"></i>Cursos com Certificado</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-solid fa-file-signature text-primary me-2"></i>Método Comprovado</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-solid fa-graduation-cap text-primary me-2"></i>Milhares de Alunos Formados</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-solid fa-thumbs-up text-primary me-2"></i>Garantia de Satisfação</p>
                    </div>
                </div>
                <!--<a class="btn btn-primary py-3 px-5 mt-2" href="">Saiba Mais</a>-->
            </div>
        </div>
    </div>
</div>
<!-- About End -->